In [1]:
import pandas as pd
import numpy as np

In [2]:
vdo_df = pd.read_csv('dataset/video_details.csv')
vdo_df.head()

,id,created_at,updated_at,video_name,thumbnail_url,video_url,quiz,tags
0,2,2018-03-27 07:02:29.116084,NaN,Room Care Checklist,http://d255tx56tiemkm.cloudfront.net/Thumbnail...,http://d255tx56tiemkm.cloudfront.net/GRA+PPT+M...,[{u'Question': u'How Many Dirty Hide Outs Are ...,NaN
1,7,2018-03-27 07:02:30.329553,NaN,Bathroom-WC cleaning 1(Cleaning Wall and SS Fi...,http://d255tx56tiemkm.cloudfront.net/Thumbnail...,http://d255tx56tiemkm.cloudfront.net/GRA+Video...,[{u'Question': u' Which equipment is used to s...,NaN
2,8,2018-03-27 07:02:31.028274,NaN,Linen Exchange & Discard Process (Handing over...,http://d255tx56tiemkm.cloudfront.net/Thumbnail...,http://d255tx56tiemkm.cloudfront.net/GRA+Artic...,[{u'Question': u'Pillow covers to be collected...,NaN
3,9,2018-03-27 07:02:31.561229,NaN,Linen Exchange & Discard Process (Linen discard),http://d255tx56tiemkm.cloudfront.net/Thumbnail...,http://d255tx56tiemkm.cloudfront.net/GRA+Artic...,[{u'Question': u'Which record is maintained fo...,NaN
4,10,2018-03-27 07:02:31.720055,NaN,Bathroom-WC cleaning 2(WC Cleaning),http://d255tx56tiemkm.cloudfront.net/Thumbnail...,http://d255tx56tiemkm.cloudfront.net/GRA+Video...,[{u'Question': u'Which chemical is used for sa...,NaN

In [43]:
tags = pd.read_csv('dataset/tags.csv', parse_dates=[0])
tags.head()

,id,created_at,updated_at,subject,attribute,department,domain
0,1,2018-03-09 19:47:28.765552,NaN,Services,Efficiency,Hotel,Hotel
1,4,2018-03-09 19:47:30.377058,NaN,Hotel,Quality,Hotel,Hotel
2,6,2018-03-09 20:00:43.047355,NaN,Amenities,Adequacy,Housekeeping,Room Making
3,7,2018-03-09 20:00:43.818294,NaN,Appliances,Availability,Housekeeping,Room Making
4,8,2018-03-09 19:44:59.801908,NaN,Room,Integrity/Maintenance,Housekeeping,Maintenance

In [4]:
print len(tags.subject.unique())
print len(tags.attribute.unique())
print len(tags.department.unique())
print len(tags.domain.unique())

59
21
5
15

In [5]:
myvdo_df = pd.read_csv('dataset/video.csv')
myvdo_df

,id,created_at,updated_at,video_name,thumbnail_url,video_url,quiz,subject,attribute,domain,department
0,2,2018-03-27 07:02:29.116084,NaN,Room Care Checklist,http://d255tx56tiemkm.cloudfront.net/Thumbnail...,http://d255tx56tiemkm.cloudfront.net/GRA+PPT+M...,[{u'Question': u'How Many Dirty Hide Outs Are ...,Services,Efficiency,Hotel,Hotel
1,7,2018-03-27 07:02:30.329553,NaN,Bathroom-WC cleaning 1(Cleaning Wall and SS Fi...,http://d255tx56tiemkm.cloudfront.net/Thumbnail...,http://d255tx56tiemkm.cloudfront.net/GRA+Video...,[{u'Question': u' Which equipment is used to s...,Room,Integrity/Maintenance,Housekeeping,abc
2,8,2018-03-27 07:02:31.028274,NaN,Linen Exchange & Discard Process (Handing over...,http://d255tx56tiemkm.cloudfront.net/Thumbnail...,http://d255tx56tiemkm.cloudfront.net/GRA+Artic...,[{u'Question': u'Pillow covers to be collected...,Services,Integrity,Availablility,HouseKeeping
3,9,2018-03-27 07:02:31.561229,NaN,Linen Exchange & Discard Process (Linen discard),http://d255tx56tiemkm.cloudfront.net/Thumbnail...,http://d255tx56tiemkm.cloudfront.net/GRA+Artic...,[{u'Question': u'Which record is maintained fo...,Bathroom,Quality,Room Making,Housekeeping
4,10,2018-03-27 07:02:31.720055,NaN,Bathroom-WC cleaning 2(WC Cleaning),http://d255tx56tiemkm.cloudfront.net/Thumbnail...,http://d255tx56tiemkm.cloudfront.net/GRA+Video...,[{u'Question': u'Which chemical is used for sa...,Room,Integrity/Maintenance,Housekeeping,Maintenance
5,11,2018-03-27 07:02:32.205217,NaN,Caddy Setup,http://d255tx56tiemkm.cloudfront.net/Thumbnail...,http://d255tx56tiemkm.cloudfront.net/GRA+Video...,[{u'Question': u'WC Brush Is Kept Along With W...,Room,Integrity/Maintenance,Maintenance,Housekeeping

In [6]:
review = pd.read_csv('dataset/review.csv')
review.head()

,id,created_at,updated_at,subject,attribute,department,domain,review
0,1,2018-03-09 19:47:28.765552,NaN,Services,Efficiency,Hotel,Hotel,The room service is good
1,4,2018-03-09 19:47:30.377058,NaN,Hotel,Quality,Hotel,Hotel,The quality of hotel is bad
2,6,2018-03-09 20:00:43.047355,NaN,Amenities,Adequacy,Housekeeping,Room Making,The room was not according to expectation
3,7,2018-03-09 20:00:43.818294,NaN,Appliances,Availability,Housekeeping,Room Making,minibar was not in the room
4,8,2018-03-09 19:44:59.801908,NaN,Room,Integrity/Maintenance,Housekeeping,Maintenance,AC was not working

In [7]:
print review[review.department.isin(myvdo_df.department)].id

0     1
1     4
2     6
3     7
4     8
5     9
6    17
Name: id, dtype: int64

In [8]:
tags['created_at'] = pd.to_datetime(tags['created_at'])
print tags.dtypes

id                    object
created_at    datetime64[ns]
updated_at           float64
subject               object
attribute             object
department            object
domain                object
dtype: object

In [36]:
import datetime
dt = (datetime.date.today() - datetime.timedelta(1*365/12)).isoformat()
print dt
tags[tags['created_at'] >= dt]

2018-05-22

,id,created_at,updated_at,subject,attribute,department,domain
399,1240,2018-05-22 12:41:56.274773,NaN,Services,Availability,Hotel,Offering
400,1241,2018-05-23 13:12:22.888705,NaN,Check-Out,Accuracy,Front Office,Check-in/Check-out
401,1242,2018-05-29 11:58:24.148019,NaN,Staff,Cleanliness,Hotel,Offering
402,1243,2018-05-29 12:28:03.797420,NaN,Quality,Availability,Hotel,Offering
403,1244,2018-05-29 13:03:00.693417,NaN,Hotel,Cleanliness,Hotel,Public Area
404,1245,2018-05-29 13:10:02.122063,NaN,Internet,Integrity/Maintenance,Housekeeping,Maintenance
405,1246,2018-05-30 07:58:10.222503,NaN,Staff,Accuracy,Front Office,Check-in/Check-out
406,1247,2018-05-30 08:14:11.808631,NaN,Drinking Water,Availability,Food & Beverage,Offering
407,1248,2018-05-30 09:27:02.892611,NaN,Staff,Courtesy,Front Office,Offering
408,1249,2018-05-30 09:55:48.197864,NaN,Tableware,Efficiency,Food & Beverage,Service
409,1250,2018-05-30 11:46:45.583601,NaN,Linen,Accuracy,Housekeeping,Room Making
410,1251,2018-05-30 11:58:24.098075,NaN,Amenities,Integrity/Maintenance,Housekeeping,Room Making
411,1252,2018-05-30 12:19:00.165130,NaN,Efficiency,Variety,Hotel,Offering
412,1253,2018-05-30 12:47:58.250716,NaN,Services,Quality,Hotel,Offering
413,1254,2018-05-30 12:54:31.172443,NaN,Room,Availability,Front Office,Check-in/Check-out
414,1255,2018-05-31 12:08:44.182014,NaN,Room,Courtesy,Housekeeping,Offering
415,1256,2018-05-31 12:09:04.807361,NaN,Accuracy,Courtesy,Hotel,Offering
416,1257,2018-05-31 12:09:23.399703,NaN,Internet,Efficiency,Hotel,Offering
417,1258,2018-05-31 12:09:50.534336,NaN,Reception,Accuracy,Front Office,Front Desk
418,1259,2018-05-31 13:25:03.495059,NaN,Amenities,Accuracy,Housekeeping,Service
419,1260,2018-06-01 05:29:50.210664,NaN,Room,Availability,Housekeeping,Room Making
420,1261,2018-06-01 05:42:28.643166,NaN,Hotel,Cleanliness,Hotel,Offering
421,1262,2018-06-01 07:43:34.579119,NaN,Billing,Courtesy,Front Office,Billing & Payment
422,1263,2018-06-01 07:46:14.294135,NaN,Food,Accuracy,Front Office,Billing & Payment
423,1264,2018-06-01 09:42:49.150653,NaN,Bathroom,Recommendation,Housekeeping,Room Making
424,1265,2018-06-01 10:40:38.448652,NaN,Adequacy,Adequacy,Hotel,Offering
425,1266,2018-06-04 06:07:55.833656,NaN,Water Supply,Courtesy,Housekeeping,Maintenance
426,1267,2018-06-04 06:14:43.542956,NaN,Drinking Water,Quality,Hotel,Offering
427,1268,2018-06-04 06:58:10.274645,NaN,Services,Accuracy,Hotel,Offering
428,1269,2018-06-04 13:53:55.936924,NaN,Billing,Accuracy,Front Office,Check-in/Check-out

In [59]:
res = tags['domain'][tags['created_at']>=dt].mode()
print res[0]

Offering